* {
  box-sizing: border-box;
  margin: 0 auto;
}

@font-face {
  font-family: "Nico Moji";
  font-weight: 100;
  font-size: 16px;
  src: url("./fonts/nicomoji/NicoMoji-Regular.ttf") format("truetype");
}

html {
  font-family: Nico Moji;
  _height: 100vh;
  background: linear-gradient(
    125deg,
    rgb(209, 253, 255) 0%,
    rgba(42, 255, 251, 0.418) 40%,
    rgb(133, 228, 254) 100%
  );
}
