* {
  box-sizing: border-box;
  margin: 0 auto;
}

@font-face {
  font-family: "Nico Moji";
  font-weight: 100;
  font-size: 16px;
  src: url("../fonts/nicomoji/NicoMoji-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 16px;
  src: url("../fonts/Exo2/Exo2-VariableFont_wght.ttf") format("truetype");
}

html {
  font-family: "Nico Moji", sans-serif;
  height: 100vh;
  background-color: rgb(209, 253, 255);
}
